<body>
<div>
  <div *ngIf="isNotEmpty" class="reservation-list-container">
    <h2 class="title">Reservations List</h2>

      <h3> Active reservations </h3>
      <table class="reservation-table">
        <thead>
        <tr>
          <th>Check-In Date</th>
          <th>Check-Out Date</th>
          <th>Room Number</th>
          <th>Room Type</th>
<!--          <th>Descriere</th>-->
          <th>Price per Night</th>
<!--          <th>Capacitate</th>-->
          <th>Status</th>
          <th *ngIf="isNotEmpty" >Cancel</th>
        </tr>
        </thead>

        <tbody *ngFor="let reservation of activeReservations">
        <tr >
        <td>{{ reservation.dataCheckIn | date: 'yyyy-MM-dd' }}</td>
          <td>{{ reservation.dataCheckOut | date: 'yyyy-MM-dd' }}</td>
          <td>{{ getRoomDetails(reservation.room?.id)?.number || '-' }}</td>
          <td>{{ getRoomDetails(reservation.room?.id)?.type || '-' }}</td>
<!--          <td>{{ getRoomDetails(reservation.room?.id)?.description || '-' }}</td>-->
          <td>{{ getRoomDetails(reservation.room?.id)?.pricePerNight || '-' }}</td>
<!--          <td>{{ getRoomDetails(reservation.room?.id)?.capacity || '-' }}</td>-->
          <td>{{reservation.status}} </td>
          <td>
            <button class="delete-btn" (click)="deleteReservation(reservation.id)">🗑️</button>
          </td>
        </tr>
        <tr>
          <td colspan="7" style="text-align: center;"><img *ngIf="qrCodes[reservation.id]" [src]="qrCodes[reservation.id]" alt="QR Code" width="100" height="100" />
          </td>
        </tr>

        </tbody>
      </table>

    <table class="reservation-table">
      <thead>
      <h3>Reservation History</h3>
      <tr>
        <th>Check-In Date</th>
        <th>Check-Out Date</th>
        <th>Room Number</th>
        <th>Room Type</th>
<!--        <th>Descriere</th>-->
<!--        <th>Preț/Noapte</th>-->
<!--        <th>Capacitate</th>-->
        <th>Status</th>
      </tr>
      </thead>

      <tbody *ngFor="let reservation of inactiveReservations">
      <tr>
        <td>{{ reservation.dataCheckIn | date: 'yyyy-MM-dd' }}</td>
        <td>{{ reservation.dataCheckOut | date: 'yyyy-MM-dd' }}</td>
        <td>{{ getRoomDetails(reservation.room?.id)?.number || '-' }}</td>
        <td>{{ getRoomDetails(reservation.room?.id)?.type || '-' }}</td>
<!--        <td>{{ getRoomDetails(reservation.room?.id)?.description || '-' }}</td>-->
<!--        <td>{{ getRoomDetails(reservation.room?.id)?.pricePerNight || '-' }}</td>-->
<!--        <td>{{ getRoomDetails(reservation.room?.id)?.capacity || '-' }}</td>-->
        <td>{{reservation.status}} </td>
      </tr>
      <tr>
<!--        <td><app-reviews [reservationId]="reservation.id"></app-reviews></td>-->
      </tr>
      </tbody>
    </table>
  </div>

    <div class="content"  *ngIf="!isNotEmpty">
      <h3>You don't have any reservations</h3>
      <button class="create-btn" routerLink="/availability">Make a reservation here!</button>
    </div>

</div>

<div *ngIf="showLoginPopup" class="modal-backdrop">
  <div class="modal-content">
    <h2>Authentication needed</h2>
    <p>You have to be logged in for this!</p>
    <div class="modal-buttons">
      <button (click)="redirectToLogin()">Login</button>
      <button (click)="closePopup()">Cancel</button>
    </div>
  </div>
</div>
</body>
