<body>
<div class="main-container">
  <!-- LEFT: reservation -->
  <div class="reservation-container">
    <h2>Confirm Reservation</h2>
<!--    <p><strong>Room: </strong> {{reservation.roomId}}</p>-->
    <p><strong>Check-in:</strong> {{ reservation.dataCheckIn }}</p>
    <p><strong>Check-out:</strong> {{ reservation.dataCheckOut }}</p>
    <p><strong>Number Of People:</strong> {{ reservation.numberOfPeople }}</p>

    <form (ngSubmit)="createReservation()">
      <p><strong>Final Price: </strong>{{ getConvertedPrice(reservation.totalCost) | currency:getCurrency()}}</p>
      <button class="confirm-btn" type="submit">Confirm</button>
    </form>
  </div>

  <!-- RIGHT: services -->
  <div class="services-panel">
    <div class="service-card">
      <img src="https://www.mashed.com/img/gallery/the-truth-about-hotel-breakfast-buffets/l-intro-1609346085.jpg" alt="breakfast">
      <label>
        <input type="checkbox" [(ngModel)]="reservation.meals" name="meals" (ngModelChange)="onExtrasChanged()" />
        <h4>Breakfast - {{ getConvertedPrice(50) | currency:getCurrency()}}/Person</h4>
      </label>
    </div>

    <div class="service-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz7rHE7QnNpxxEiBZTWK907cZCXhWQJJTo4g&s" alt="spa">
      <label>
        <input type="checkbox" [(ngModel)]="reservation.spa" name="spa" (ngModelChange)="onExtrasChanged()" />
        <h4>Spa and Wellness Services - {{ getConvertedPrice(100) | currency:getCurrency()}}/Room</h4>
      </label>
    </div>
  </div>
</div>

<!-- Login modal -->
<div *ngIf="showLoginPopup" class="modal-backdrop">
  <div class="modal-content">
    <h2>Authentication needed!</h2>
    <p>You have to be logged in for this!</p>
    <div class="modal-buttons">
      <button (click)="redirectToLogin()">Login</button>
      <button (click)="closePopup()">Cancel</button>
    </div>
  </div>
</div>
</body>
