<div class="review-section">
  <h4>Recenzii</h4>

  <div *ngIf="reviews.length === 0">Nicio recenzie încă.</div>
  <ul>
    <li *ngFor="let review of reviews">
      <strong>★{{ review.rating }}</strong> - {{ review.comment }}
    </li>
  </ul>

  <div class="review-form">
    <h5>Lasă o recenzie</h5>
    <label>
      Rating:
      <select [(ngModel)]="newReview.rating">
        <option *ngFor="let r of [1,2,3,4,5]" [value]="r">{{ r }}</option>
      </select>
    </label>
    <br>
    <textarea [(ngModel)]="newReview.comment" placeholder="Scrie comentariul aici"></textarea>
    <br>
    <button (click)="submitReview()">Trimite</button>
  </div>
</div>
