<body>
<div class="account-wrapper">
  <div class="sidebar">
    <button (click)="selectedTab = 'details'" [class.active]="selectedTab === 'details'">Detalii</button>
    <button (click)="selectedTab = 'reservations'" [class.active]="selectedTab === 'reservations'">Rezervări</button>
    <button (click)="logout()" class="logout-button">Log out</button>
  </div>


  <div class="main-content">
    <div *ngIf="selectedTab === 'details'" class="container-panel">
      <h3 class="panel-title">Detalii Utilizator</h3>
      <div *ngFor="let user of users">
        <form [formGroup]="userForm" (ngSubmit)="updateUser()" class="flex-column">
          <input formControlName="firstName" placeholder="Prenume" class="form-input" />
          <input formControlName="lastName" placeholder="Nume" class="form-input" />
          <input type="email" formControlName="email" placeholder="Email" class="form-input" />
          <input formControlName="phone" placeholder="Telefon" class="form-input" />
          <input type="password" formControlName="password" placeholder="Parolă (opțional)" class="form-input" />
          <button type="submit" class="form-button">Actualizează</button>
<!--          <input formControlName="enabled" placeholder="Status" class="form-input"/>-->
          <div *ngIf="!enabled">
            <input class="form-input" type="text" formControlName="verificationCode" placeholder="Cod de verificare"/>
            <button class="sendCode" (click)="resendCode()">Retrimite codul</button>
            <button class="verifyCode" (click)="verifyCode()">Valideaza codul</button>
          </div>
        </form>

      </div>


      <div class="address-section">
        <h4>Adresa</h4>
        <div *ngIf="hasAddress" class="flex-column">
          <input type="text" [(ngModel)]="address.street" placeholder="Stradă" class="form-input" />
          <input type="text" [(ngModel)]="address.city" placeholder="Oraș" class="form-input" />
          <input type="text" [(ngModel)]="address.country" placeholder="Țară" class="form-input" />
          <button (click)="updateAddress()" class="form-button">Actualizează Adresa</button>
        </div>
        <div *ngIf="!hasAddress" class="flex-column text-center">
          <p class="text-gray">Nu ai adăugat încă o adresă.</p>
          <input type="text" [(ngModel)]="newAddress.street" placeholder="Stradă" class="form-input" />
          <input type="text" [(ngModel)]="newAddress.city" placeholder="Oraș" class="form-input" />
          <input type="text" [(ngModel)]="newAddress.country" placeholder="Țară" class="form-input" />
          <button (click)="addNewAddress()" class="form-button">Adaugă Adresă</button>
        </div>
      </div>
    </div>

    <div *ngIf="selectedTab === 'reservations'" class="container-panel">
      <h3 class="panel-title">Rezervările Tale</h3>
      <app-reservation-list></app-reservation-list>
    </div>
  </div>
</div>
</body>
